@import "../../styles/variables.scss";

.bar {
  width: $bar-width;
  background-color: var(--aside-bg);
  height: 100vh;
  transition: $linear-small;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1200px) {
    position: fixed;
    top: 0;
    left: -500px;
    z-index: 5;
  }
  &--open {
    left: 0;
    & + .aside__overlay {
      display: block;
      opacity: 1;
      transform: scale(1);
    }
  }
}
.bar__headline {
  background-color: var(--headline-bg);
  border: 2px solid var(--text-grey);
  width: 100%;
  color: var(--headline-white);
  padding: 5px;
  text-align: center;
  font-size: 18px;
  @extend %roboto-slab;
  font-weight: 500;
}
.bar__controls-headline {
  // background-color: #41363a;
}
.bar__movies-headline {
  // background-color: #41363a;
}
.best-movies__headline {
  @extend %roboto-slab;
  color: var(--headline-white);
  font-size: 16px;
  margin-bottom: 10px;
}
.best-movies__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.best-movies__img-wrapper {
  flex-shrink: 0;
  height: 80px;
  width: 55px;
  margin-right: 10px;
}
.best-movies__item {
  cursor: pointer;
  padding: 7px;
  display: flex;
  transition: $linear-small;
  &:hover {
    background-color: var(--headline-bg);
  }
}
.best-movies__list {
  overflow-y: scroll;
  flex-grow: 1;
  // height: calc(100vh - 218px);
}
.best-movies__rating {
  color: var(--aside-bg);
  background-color: var(--rating-color);
  width: 36px;
  text-align: center;
  border-radius: 5px;
  padding: 2px 0;
  @extend %roboto-slab;
}
.best-movies__text-wrapper {
  align-self: center;
}
.controls__item {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 7px;
  transition: $linear-small;
  &:hover {
    background-color: var(--headline-bg);
    & .controls__link {
      background-color: var(--headline-bg);
      color: var(--headline-white);
      & + span {
        color: var(--headline-bg);
        background-color: var(--text-grey);
      }
    }
  }
}
.controls__link {
  @extend %roboto-slab;
  color: var(--text-grey);
  font-size: 16px;
  transition: $linear-small;
  align-items: center;
  display: flex;
  & i {
    // line-height: 0;
    margin-right: 7px;
    font-size: 25px;
  }
  // &:hover {
  //   background-color: var(--headline-bg);
  //   color: var(--headline-white);
  //   & + span {
  //     color: var(--headline-white);
  //   }
  // }
}
.controls__list {
  padding: 7px 0;
}
.rating__text {
}
.controls__counter {
  transition: $linear-small;
  padding-top: 4px;
  height: 22px;
  text-align: center;
  border-radius: 5px;
  display: block;
  @extend %roboto-slab;
  color: var(--text-grey);
  font-size: 13px;
  background-color: var(--headline-bg);
  min-width: 29px;
}
.ff {
  background-color: #999;
  height: 100px;
  width: 100px;
}
.aside__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: none;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.1);
  transition: $linear-small;
  opacity: 0;
  transform: scale(0);
}
.bar__error{
  color: tomato;
  margin-top: 18px;
  text-align: center;
}