@import "./variables";
@import "./reset";
@import "./startArrow.scss";

#root {
  background-color: rgb(238, 238, 238);
  display: flex;
}
.main {
  overflow-y: scroll;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--main-color);
  padding: 15px;
  // background: url('../images/space.png')center / cover no-repeat;
}

main,
footer,
html,
body,
header {
  scroll-behavior: smooth;
}
.title {
  text-align: center;
  @extend %roboto-slab;
  margin-bottom: 20px;
  color: var(--text-color-dark);
  font-weight: 600;
}
.main__error {
  text-align: center;
  margin-top: 10px;
  color: tomato;
  font-weight: 600;
  font-size: 26px;
}
.main__headline {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 15px;
}
.load-more-btn {
  font-size: 16px;
  text-transform: uppercase;
  padding: 14px;
  border-radius: 10px;
  color: var(--main-color);
  background-color: var(--text-color);
  transition: $linear-small;
  margin: 20px auto 0;
  display: block;
  font-weight: 600;
  &:hover {
    background-color: var(--text-color-dark);
  }
  &:active {
    transform: scale(1.1);
  }
}
