.card {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  &:hover .card__menu-wrapper {
    opacity: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
  &:hover .card__menu {
    transform: scale(1);
  }
}

.card-menu__btn {
  @extend %roboto-slab;
  background-color: var(--rating-color);
  height: 40px;
  width: 40px;
  font-size: 25px;
  border-radius: 5px;
  color: var(--aside-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $linear-small;
  & .material-icons--2 {
    display: none;
  }
  &--liked {
    color: tomato;
    background-color: var(--aside-bg);
    & .material-icons--1 {
      display: none;
    }
    & .material-icons--2 {
      display: block;
    }
  }
  &--later {
    color: var(--headline-white);
    background-color: var(--aside-bg);
    & .material-icons--1 {
      display: none;
    }
    & .material-icons--2 {
      display: block;
    }
  }
  &:hover {
    // background-color: var(--aside-bg);
  }
  &:nth-child(4) {
    &:hover {
      color: rgb(86, 241, 255);
    }
  }
  &:nth-child(3) {
    &:hover {
      color: tomato;
    }
  }
  &:nth-child(2) {
    &:hover {
      color: var(--headline-white);
    }
  }
  &:nth-child(1) {
    cursor: text;

    &:hover {
      background-color: var(--rating-color);
    }
  }
}
.card-menu__rating {
  cursor: text;
  font-size: 20px;
  font-weight: 700;
  width: 55px;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__img-wrapper {
  width: 100%;
  height: 100%;
}
.card__menu {
  position: absolute;
  width: 190px;
  display: flex;
  justify-content: space-between;
  transform: scale(0.5);
  align-items: center;
  transition: $linear-small;
}
.search-result {
  // overflow-y: scroll;
  // height: calc(100vh - 120px);
  // overflow-y: scroll;
  position: relative;
  padding: 0 12px 60px;
  flex-grow: 1;
}
.search-result__card-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}
.card__menu-wrapper {
  opacity: 0;
  transition: $linear-small;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
}
.observe {
  position: absolute;
  bottom: -35px;
  left: 50%;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms linear;
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  &--hidden {
    // top: 100vh;
    transform: scale(0);
    display: none;
  }
}

.card__headline {
  position: absolute;
  text-align: center;
  padding: 10px 25px;
  @extend %roboto-slab;
  font-size: 28px;
  color: var(--headline-white);
  font-weight: 600;
  background-color: var(--headline-bg);
  border-radius: 10px;
  max-width: 90%;
  bottom: 40px;
  cursor: text;
  -webkit-box-shadow: 7px 5px 10px 9px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 7px 5px 10px 9px rgba(255, 255, 255, 0.15);
  box-shadow: 7px 5px 10px 9px rgba(255, 255, 255, 0.15);
}
.card__lang {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
  @extend %roboto-slab;
  font-size: 28px;
  color: var(--aside-bg);
  font-weight: 600;
  background-color: var(--rating-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: text;
}
