@import "../../styles/variables.scss";

.search-result {
  position: relative;
  padding: 0 12px 60px;
  flex-grow: 1;
}
.search-result__card-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}

.search-result__back-btn{
  position: absolute;
  top: 5px;
}