.home__trending {
  font-size: 24px;
  margin-bottom: 40px;
  color: var(--text-color);
  text-align: center;
  font-weight: 500;
  margin-top: 45px;
}
.trending {
  margin: 0 auto;
  max-width: calc(100vw - 380px);
  @media screen and (max-width: 1200px) {
    max-width: calc(100vw - 45px);
  }
}
